html,
body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}
#container {
  display: flex;
  flex-direction: row;
  
  /* justify-content: center; */
  /* align-items: center; */
  gap: 50px;
  padding: 20px;
}
#canvasContainer {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}

canvas {
  display: block;
  background-color: black;
    border: 0.5rem outset black;
  outline: 0.5rem solid whitesmoke;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
}

h1 {
  border: 0.5rem outset black;
  outline: 0.5rem solid whitesmoke;
  background-color: cadetblue;
  /* box-shadow: 0 0 0 2rem cadetblue; */
  border-radius: 12px;
  width: fit-content;
  padding-left: 5px;
  padding-right: 5px;
}

#create_panel {
  background-color: white;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
    border: 0.5rem outset black;
  outline: 0.5rem solid whitesmoke;
  background-color: cadetblue;
}

.slider {
  width: 300px;
}

input{
  margin: 10px;
}