html, body {
  margin: 0;
  padding: 0;
  background-color: #2c3e50;
}

#canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  display: block;
  background-color: black;
}
